
/* Grid CSS */
body {
    font-family: 'open sans', sans-serif;
    font-size: 16px;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}
.btn-primary {
    font-family: 'open sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: black;
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding-left: 5px;
}
.btn-primary:hover {
    background-color: transparent;
} 
h1 {
    font-family: 'raleway',sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}
h2 {
    font-family: 'raleway',sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: black;
}
.btnCase {
    text-decoration: none;
}
.btnCase:hover {
    text-decoration: none;
    color: #AF9574;
}
.chevronCase {
    color: black;
}

/* Navigation Bar */
.navbar {
    text-transform: uppercase;
    color: #4B4B4B;
}
.navbar-brand {
    color: #4B4B4B;
    font-size: 1rem;
}
.nav {
    color: #4B4B4B;
    margin-top: 150px;
    width: 35%;
    padding-left:0;
    padding-right: 0;
    margin-right: 120px;
}
 .navName {
     color: #4B4B4B;
     border-bottom: 1px solid #AF9574;
 }
 .navName:hover {
     border-bottom: 1px solid black ;
     text-decoration: none;
     color: #4B4B4B;
 }
 .navbar-brand:hover{
     color: #AF9574;
     text-decoration: none;
 }

 /*Intro*/
 .row {
  margin-top: 150px;
  margin-bottom:200px;
 }
 .header {
    margin-top: 250px;
    left: 100px;
 }
 .caseCard {
     position: relative;
     width: 70%;
     animation: zoom 4s ease-in-out;
     transition: transform 1.5s linear;
 }
 @keyframes zoom {
     from {
         opacity: 0;
     }
 }
 .caseCard:hover {
     transform: scale(1.2);
 }

 /* Media Qeries */
 @media only screen and (max-width:1200px){
     .row {
         margin-top: 50px;
         margin-bottom: 50px;
     }
     .header {
         margin-top: 50px;
     }
     .caseCard {
         left: 75px;

     }
 }
